
     .pic img {
	     object-fit:cover;
	     overflow:hidden;
	     max-width:none;}
		 
	 .roundcard {
		 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
		 transition: 0.3s;
		 border-radius: 5px;}
		 
	 .roundcard:hover {
		 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
	 
	 .roundcard img {
		 display:block; 
		 max-width:100%; 
		 max-height:100%; 
		 margin-left:auto; 
		 margin-right:auto;}