
     .pic img {
	     object-fit:cover;
	     overflow:hidden;
	     max-width:none;}
		 
	 .roundcard {
		 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
		 transition: 0.3s;
		 border-radius: 5px;}
		 
	 .roundcard:hover {
		 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
	 
	 .roundcard img {
		 display:block; 
		 max-width:100%; 
		 max-height:100%; 
		 margin-left:auto; 
		 margin-right:auto;}
		 
		 
/* the event box */




#event_box article{
	
	width: 255px;
	height: 355px;
	border: 3px #bdbdbd solid;
	border-radius: 4px;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left; /* make our table event left*/
}


#event_box .photo{
	width: 250px;
	height: 225px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}




#event_box .overlay{
	width: 250px;
	height: 25px;
	position: absolute;
	margin-top: -25px;
	padding: 0;
}

#event_boxe .stat_bar{
	width: 245px;
	height: 25px;
	margin-top: 1px;
}

#event_box .stat_bar li{
	float: left;
	width: 33%;
	text-align: center;
	height: 25px;
}

#event_box .stat_bar li span{
	line-height: 25px;
	padding: 5px 0 5px 20px;
}

#event_box .stat_bar .love span{
	background: url('../img/icon/love_white.png') no-repeat 0 2px;
}

#event_box .stat_bar .star span{
	background: url('../img/icon/star_white.png') no-repeat 0 2px;
}

#event_box .stat_bar .say span{
	background: url('../img/icon/say_white.png') no-repeat 0 2px;
}

#event_box .content{
	padding: 15px;
}

#event_box .em{
	font-size: 10px;
	position: absolute;
	margin-top: 75px;
}
.overlay{
	background: #000;
	opacity: 0.8;
	color: #FFF;
	padding: 5px;
}

/* feedback form */
#feedback_comment{
	background: #FFF;
	border: 3px #000 solid;
	border-radius: 5px;
	margin-top: 30px;
}

#feedback_comment .feedback_title{
	background: #000;
	padding: 15px 20px;
	letter-spacing: 1px;
	font-size: 15px;
	margin: 0;
	color: #FFF;
}


#feedback_comment .stat_bar{
	height: 25px;
	margin-top: -5px;
	color: #000;
	float: right;
}

#feedback_form{
	padding: 5px 20px;
}

#feedback_form textarea{
	font: 14px "Comic Sans MS", cursive, sans-serif;
	width: 30vw;
	color: #000;
	border: 0;
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
	margin-bottom: 5px;
	resize: none;
}

#feedback_form input[type=text]{
	font: 14px "Comic Sans MS", cursive, sans-serif;
	width: 20vw;
	color: #000;
	border: 0;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
	margin-bottom: 5px;
	resize: none;
}

#feedback_form input[type=submit],#feedback-submit {
	background: #000;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 2px #000 solid;
	border-radius: 3px;
	font: 14px "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	float: right;
}


