<!DOCTYPE html>
<html lang="en" ng-app="teamform-admin-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->

	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>      
      	  
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   
	 <link rel="stylesheet" href="css/site.css">
      
      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
      <style>
      		br { line-height: 5px; }
			[ng-click] { cursor: pointer; }
      </style>

	  	  
   </head>
   <body>
    	  
      <!-- Admin page -->
      <div class="container" id="page_home" ng-controller="AdminCtrl">
	  
      <!-- MENU -->
      <div ng-include="'menu.html'"></div>
	  
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-6">
                     	<h1>Administrator</h1><br>
				  </div>
			   </div>
            </div>
			
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     	<h2>Events List<a href="createEvent.html" class="btn btn-info" style="float:right;">Create</a></h2>
				  </div>
                  <div class="col-md-12">
						<table class="table table-hover table-bordered">
						<tr>
						<th>Event ID</th>
						<th>Event Name</th>
						<th>Event Date</th>
						<th>Number of Table</th>
						<th>Deadline</th>
						<th>Show or Hide</th>
						</tr>
						<tr ng-repeat="event in paramEvent | orderBy:'$id'">
						<td ng-click="goToEvent(event.$id)"><span ng-bind="event.$id"></span></td>
						<td ng-click="goToEvent(event.$id)"><span ng-bind="event.eventName"></span></td>
						<td ng-click="goToEvent(event.$id)"><span ng-bind="event.date"></span></td>
						<td ng-click="goToEvent(event.$id)"><span ng-bind="event.maxForTable"></span></td>
						<td ng-click="goToEvent(event.$id)"><span ng-bind="event.deadline"></span></td>
						<td ng-if="event.visible"><button class="btn" ng-click="hideEvent(event.$id)">Hide</button></td>
						<td ng-if="!event.visible"><button class="btn" ng-click="showEvent(event.$id)">Show</button></td>
						</tr>
						</table>
				  </div>
			   </div>
            </div>
			
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     	<h2>Feedback</h2>
				  </div>
                  <div class="col-md-12">
						<table class="table table-hover table-bordered">
						<tr>
						<th>Email</th>
						<th>Name</th>
						<th>Content</th>
						<th>Date</th>
						</tr>
						<tr ng-repeat="feedback in paramFeedback | orderBy:feedback.CreateTime:true">
						<td ng-if="feedback.Email"><span ng-bind="feedback.Email"></span></td>
						<td ng-if="!feedback.Email">Anonymous</td>
						<td><span ng-bind="feedback.Name"></span></td>
						<td><span ng-bind="feedback.Content"></span></td>
						<td><span ng-bind="feedback.CreateTime | date:'medium'"></span></td>
						</tr>
						</table>
				  </div>
			   </div>
            </div>
			
         </div>
       



                     
         <!-- /END THE FEATURETTES -->
         <!-- FOOTER -->
		<div ng-include="'footer.html'"></div>
      <!-- /.container -->

		<!-- JavaScript of this page -->

		<!-- Angular and Angular-route libraries (v1.5.7) -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>        

		<!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
		<script src="lib/firebase.js"></script>     
		<script src="lib/angularfire.min.js"></script>
		
		<script src="js/controller/admin.js"></script>


   </body>
</html>
