<!DOCTYPE html>
<html lang="en" ng-app="teamform-createTable-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->


      <!-- libraries and CSS
			JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
			Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
			Font-awesome: More icons for the web development (v4.6.3 is used)
			site.css: A customized css for our web application. Not from any web framework.
      -->
      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.4.5/css/bootstrapvalidator.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	     <link rel="stylesheet" href="css/site.css">
      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
      <script src="js/createTable.js"></script>

   </head>
   <body ng-controller="CreateTableCtrl">
      <!-- MENU -->
      <div class="navbar-wrapper" ng-include="'menu.html'"></div>

      <!-- Register page -->
      <div class="container" style="margin-bottom:100px;" id="page_home">
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-6">
                     	<h1>Create Table</h1><br>
			<form id="createTable_form" class="form-horizontal" data-toggle="validator" role="form">

        <div class="form-group">
					<label for="event_name" class="col-sm-3 control-label">Event name</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{evnetName}}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="table-name" class="col-sm-3 control-label">Table name</label>
					<div class="col-sm-9">
						<input ng-model="name" type="name" class="form-control" name="table_name" placeholder="Table name" required>
					</div>
				</div>

				<div class="form-group">
					<label for="access" class="col-sm-3 control-label">Access</label>
					<div class="radio col-sm-3" ng-init="access='public'">
						<label>
							<input type="radio" ng-model="access" name="access" id="access_public" value="public">Public
						</label>
					</div>
					<div class="radio col-sm-6">
						<label>
							<input type="radio" ng-model="access" name="access" id="access_private" value="private">Private
						</label>
					</div>
        </div>
          <div class="form-group has-feedback">
  					<label for="password" class="col-sm-3 control-label">Password</label>
  					<div class = "col-sm-9">
  						<input ng-model="password" type="password" class="form-control" name="input_password" id="input_password" placeholder="Password" required disabled>
  					</div>
  				</div>

  				<div class="form-group">
  					<label for="password" class="col-sm-3 control-label">Confirm password</label>
  					<div class = "col-sm-9">
  						<input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm password" required disabled>
  					</div>
  				</div>

          <div class="form-group">
  					<label for="prefer-tag" class="col-sm-3 control-label">Prefer Tag</label>
  					<div class="col-sm-9">
              <label class="checkbox-inline">
                <input type="checkbox" data-toggle="toggle" data-off="Gender" data-on="Gender">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" data-toggle="toggle" data-off="Grad. Year" data-on="Grad. Year">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" data-toggle="toggle" data-off="Major" data-on="Major">
              </label>
  					</div>
  				</div>

				<br>
				<button ng-click="doCreateTable()" class="btn btn-info" style="float: right;">Create</button>
			</form>
			<br><br><br>
		  </div>
	       </div>
            </div>
         </div>

       <!-- /END THE FEATURETTES -->
         <!-- FOOTER -->
         <hr>
         <div ng-include="'footer.html'"></div>
      </div>
      <!-- /.container -->

		<!-- JavaScript of this page -->

		<!-- Angular and Angular-route libraries (v1.5.7) -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>

		<!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
		<script src="lib/firebase.js"></script>
		<script src="lib/angularfire.min.js"></script>
		<script src="js/controller/createTable.js"></script>



   </body>
</html>
