<!DOCTYPE html>
<html lang="en" ng-app="teamform-team-app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="teamform, team">
		<!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- libraries and CSS
			JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
			Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
			Font-awesome: More icons for the web development (v4.6.3 is used)
			site.css: A customized css for our web application. Not from any web framework.
		-->

		<script src="lib/jquery.min.js"></script>
		<script src="lib/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/site.css">

		<!-- Customized libraries shared by pages -->
		<script src="js/site.js"></script>
   </head>
   <body ng-controller="TeamCtrl">
		 <div ng-include="'menu.html'"></div>

        <!-- Content of leader start from here-->
		<div class="container" style="margin-bottom:100px;">
			<div id="content">

				<div id="application" class="col-12 col-sm-8">
					<div class="tab-content">

						<div id="information" class="tab-pane fade in active">
							<div class="text-center">
								<h2>Table Information</h2>
							</div>
							<br>
							<p>Person that waiting to approval:</p>
							<table class="table table-bordered">
							<tr><td data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=requestedMembers])'}"  jqyoui-droppable="{multiple:true}">
								<div class="btn btn-default btn-draggable" ng-repeat="requestedMember in requestedMembers" ng-model="requestedMembers" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},animate:true}">
									Name: {{requestedMember.name}}<br>Grad. Year: {{requestedMember.gradYear}}<br>Major: {{requestedMember.major}}
								</div>
								</td>
							</tr>
							</table>
							<div class="text-center">
								<br>
								<button type="button" class="btn btn-info">Same Major</button>
								<button type="button" class="btn btn-info">Same Graduation Year</button>
								<button type="button" class="btn btn-info">Same Gender</button>
								<button type="button" class="btn btn-info">Another Gender</button>
								<button type="button" class="btn btn-info">Random</button>
								<br><br><br><br>
							</div>
							<p>Person that having approval:</p>
							<table class="table table-bordered">
							<tr><td data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=members])'}"  jqyoui-droppable="{multiple:true}">
								<div class="btn btn-default btn-draggable" ng-repeat="member in members" ng-model="members" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},animate:true}">
									Name: {{member.name}}<br>Grad. Year: {{member.gradYear}}<br>Major: {{member.major}}
								</div>
								</td>
							</tr>
							</table>
							<div class="text-center">
								<br><br><br><br>
								<button type="button" class="btn btn-lg btn-warning">Confirm</button>
								<br><br><p>* After confirmation, Administor will process your table. No further modification could be made. *</p>
							</div>
						</div>

					<div id="tableSetting" class="tab-pane fade">
						<div class="text-center">
							<h2>Table Setting</h2>
						</div>
					<div class="form-group">
					<form id="changeTable_form">
						<div class="form-group">
							<label for="TableName">Table Name</label>
							<input type="text" class="form-control" id="InputTableName" placeholder="{{tableName}}"  class="col-xs-4" ng-model="newTableName">
						</div>
						<div class="input-group">
							<label for="TablePassword">Password</label>
						</div>
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<input type="password" class="form-control" id="inpputPassword" placeholder="Password" ng-model="newTablePassword">
						 </div>
						 <div class="input-group">
						 	<label for="PasswordOff">Password Off &nbsp;&nbsp;</label>
						 	<input type="checkbox" id="passwordOff"  ng-model="tablePasswordOff" value="tablePasswordOff">
						 </div>
						 <div class="input-group">
						 </div>

						 <br>
						 <div class="form-group">
						<button type="submit" class="btn btn-primary" ng-click="changeTable()">Save Changes</button>
						</div>
					</form>
					</div>
					</div>

					<div id="reassignLeader" class="tab-pane fade">
						<div class="text-center">
							<h2>Leader Reassignment</h2>
						</div>
						<form id="changeLeader_form">
						<div class="form-group">
							<label for="newLeader">Please select the member you want to assign</label>
							<select class="form-control" id="newLeader" ng-model="newLeader">
								<option ng-repeat="member in members">{{member.name}}</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary" ng-click="changeLeader()">Confirm</button>
						<p><br>* After the reassignment, you <b style="text-transform: uppercase">will become a member</b> of the table and no administration can be performed anymore.</p>
					</div>

					</div>
				</div>

				<div id="Progress" class="col-12 col-sm-4">
					<div class="text-center">
						<h2>Status</h2>
					</div>
						<div class="list-group">
							<ul class="list-group">
						 <li id="confirmed" class="list-group-item list-group-item-success hide"><span class="glyphicon glyphicon-ok-sign"></span> Your team is confirmed.</li>
						 <li id="newRequest" class="list-group-item list-group-item-info hide"><span class="glyphicon glyphicon-info-sign"></span> You have new request(s).</li>
						 <li id="full" class="list-group-item list-group-item-danger hide"><span class="glyphicon glyphicon-remove-sign"></span> Your team is full. Fail to add other member.</li>
					 </ul>
						</div>

						<ul class="list-group">
							<li class="list-group-item"><b>Event name: </b><b>{{eventName}}</b></li>
							<li class="list-group-item"><b>Table name: </b><b>{{tableName}}</b></li>
						</ul>

						<p>Current Members: {{numberOfMembers(table)}}/{{maxForTable}}</p>
						<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{numberOfMembers(table)/maxForTable*100}}%;">
						</div>
						</div>

						<div id="changePage">
							<div class="text-center">
								<h2>Option</h2>
							</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item-info active"><a data-toggle="tab" href="#information">Table Information</a></li>
							<li class="list-group-item list-group-item-info"><a data-toggle="tab" href="#tableSetting">Table Setting</a></li>
							<li class="list-group-item list-group-item-info"><a data-toggle="tab" href="#reassignLeader">Leader Reassignment</a></li>
						</ul>
						</div>
				</div>
				</div>
			</div>
		</div>

        <!-- Content of leader -->
		<div ng-include="'footer.html'"></div>




				<!-- JavaScript of this page -->
				<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

				<!-- Angular and Angular-route libraries (v1.5.7) -->
				<script src="lib/angular.min.js"></script>
				<script src="lib/angular-route.min.js"></script>

				<!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
				<script src="lib/firebase.js"></script>
				<script src="lib/angularfire.min.js"></script>


				<script src="js/angular-dragdrop.min.js"></script>
				<script src="js/controller/leader.js"></script>

   </body>
</html>
