<!DOCTYPE html>
<html lang="en" ng-app="teamform-member-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->

	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
      <link rel="stylesheet" href="css/site.css" >
      <link rel="stylesheet" href="css/member-style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css"/>

      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
   </head>
   <body ng-controller="MemberCtrl">
	<div ng-include="'menu.html'"></div>
	<div class="container">
		<div id="fh5co-schedule-section">
			<div class="container" style="margin-bottom:100px;">
				<div class="col-sm-8">
				<div class="row">
					<div class="col-12">
						<div class="text-center">
							<h2>Table Information</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="select-bar">
							<select class="selectpicker select-bar-left" multiple data-actions-box="true"
							        title="Filter by" data-style="btn-danger">
								<optgroup label="Filter by">								
									<option>With available seats</option>
									<option>Department</option>
									<option>Graduation year</option>
								</optgroup>
							</select>						
							<select class="selectpicker" title="Sort by" data-style="btn-danger">
								<optgroup label="Sort by">
									<option data-icon="glyphicon-sort-by-attributes-alt">Remaining seats</option>
									<option data-icon="glyphicon-sort-by-attributes">Created time</option>
									<option data-icon="glyphicon-sort-by-alphabet">Table name</option>
									<option data-icon="glyphicon-sort-by-attributes-alt">Number of boys</option>
									<option data-icon="glyphicon-sort-by-attributes-alt">Number of girls</option>
								</optgroup>
							</select>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-12 schedule-container">
							<div class="schedule-content">
								<div class="col-md-4 col-sm-6">
									<div class="program program-schedule">
										<h3>TableName1
											<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
										</h3>
										<p>TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription</p>
										<div class="progress">
											<div class="progress-bar progress-bar-custom" role="progressbar"
											     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
											     style="width: 50%;">
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 6/ 12
											</div>
										</div>
										<div align="right"><a class="btn-join" href="#">Join Now</a></div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="program program-schedule">
										<h3>TableName2
											<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
										</h3>
										<p>TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription</p>
										<div class="progress">
											<div class="progress-bar progress-bar-custom" role="progressbar"
											     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
											     style="width: 25%;">
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 3/ 12
											</div>
										</div>
										<div align="right"><a class="btn-join" href="#">Join Now</a></div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="program program-schedule">
										<h3>TableName3
											<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
										</h3>
										<p>TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription</p>
										<div class="progress">
											<div class="progress-bar progress-bar-custom" role="progressbar"
											     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
											     style="width: 100%;">
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 12/ 12
											</div>
										</div>
										<div align="right"><a class="btn-join" href="#">Join Now</a></div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="program program-schedule">
										<h3>TableName4
											<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
										</h3>
										<p>TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription
										   TableDescription</p>
										<div class="progress">
											<div class="progress-bar progress-bar-custom" role="progressbar"
											     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
											     style="width: 100%;">
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 12/ 12
											</div>
										</div>
										<div align="right"><a class="btn-join" href="#">Join Now</a></div>
									</div>
								</div>								
							</div>
						</div>
					</div>	
					</div>
				</div>
				<div class="col-sm-4">					
					<h2 class="text-center">Status</h2>
						<ul class="list-group">
						 	<li id="confirmed" class="list-group-item list-group-item-success hide"><span class="glyphicon glyphicon-ok-sign"></span> 
								Your request has been confirmed.</li>
							<li id="waiting" class="list-group-item list-group-item-info hide"><span class="glyphicon glyphicon-info-sign"></span>
								Your request has been sent to the team leader.</li>
						 	<li id="rejected" class="list-group-item list-group-item-danger hide"><span class="glyphicon glyphicon-remove-sign"></span>
								Your request was rejected. Please select another table.</li>
						</ul>
					<h2 class="text-center">My Account</h2>
						<ul class="list-group">
							<li class="list-group-item"><b>User name: </b><b ng-bind="name"></b></li>
							<li class="list-group-item"><b>Department: </b><b ng-bind="major"></b></li>
							<li class="list-group-item"><b>Graduation year: </b><b ng-bind="gradYear"></b></li>
						</ul>
				</div>
		</div>
	</div>
	<hr>
	<div ng-include="'footer.html'"></div>
	
<!--
   <a href="index.html"
   <button id="btn_admin" type="button" class="btn btn-primary" >Back to the front-end</button></a>

   <br>

   <div class="text-center">
      <h1>Member Page</h1>
      <h2 id="text_event_name"></h2>
       <div id="member_page_controller" ng-controller="MemberCtrl">


         <div class="row">

            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-8 col-xs-8 panel">
			

               
               <form class="form-horizontal">
                  <div class="form-group">
                     <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                     <div class="col-sm-5">
                     <input type="text" class="form-control" id="inputUserID" ng-model="userID" placeholder="Enter your User ID">
                     </div>
					 
					 <div class="col-sm-4">
					   <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Add/Modify</button>
					  <button type="button" class="btn btn-primary" ng-click="loadFunc();" >Load</button>
					  </div>
                  </div>

                  <div class="form-group">
                     <label for="inputName" class="col-sm-3 control-label">Name</label>
                     <div class="col-sm-9">
                     <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Type in your name">
                     </div>
                  </div>
				  
				  
				 



               </form>
			   
			     <div class="row text-left">
			        
				    <h3>Your team preference:</h3>
			       <div ng-repeat="team in teams">
					  					  
					 <div class="checkbox">
						<label><input type="checkbox" value="{{team.$id}}" 
						  ng-checked="selection.indexOf(team.$id) > -1"
						  ng-click="toggleSelection(team.$id)">
						{{team.$id}}</label>
					 </div>
					  
				  </div>
				</div>

               
            </div>
            <div class="col-md-2 col-xs-2"></div>
         </div>



       </div>
   </div>
-->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>



   <!-- JavaScript of this page -->
   <script src="js/controller/member.js"></script>

   </body>
</html>

